.holder {
  padding-top: 160px;
  width: 100%;
  min-height: 180vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  font-family:   'Gilroy-Bold';
}
.under_construction {
  font-size: 6em;
  margin-bottom: 15px;
  z-index: 3;
}
.under_construction_h6 {
  font-size: 1em;
  z-index: 4;
  opacity: 0.4;
  margin: 30px 15px;
}
.cup {
  position: relative;
  height: 800px;
  top: -200px;
  z-index: 0; 
}
.product_img_holder{
  flex: 1;
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_text h3{
  font-size: 5em;
}
.product_text p {
  max-width: 370px;
  font-size: 0.85em;
  line-height: 1.2;
}
.product_img{
  flex: 1;
}
.product_description {
  flex: 1;
  max-width: 500px;
}
.product_item {
  display: flex;
  width: 100%;
  align-items: center;
}
.product_button_holer {
  margin-right: 40px;
  margin-left: auto;
}
.product_button {
  min-width: 140px;
}
@media (max-width: 1024px) {
  .under_construction {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .under_construction {
    font-size: 4em;
  }
  .cup {
    height: auto;
    width: 100%;
  }
}
@media (max-width:425px) {
  .under_construction {
    font-size: 2em;
  }
  .under_construction_h6 {
    font-size: 0.5em;
    text-align: center;
  }
  .cup {
    top: -120px
  }
}