.holder{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.under_construction{
  font-size: 6em;
  margin-bottom: 15px;
}