.cart_item {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.cart_item p{
  font-family: 'Gilroy-Medium';
}
.cart_img {
  height: 90px;
  margin-right: 40px;
}
.cart_button{
  margin-left: 10px;
  margin-right: 10px;
}
.cart_button_holder{
  margin-left: auto;
  display: flex;
  margin-right: 16px;
}
.cart_button_holder_inc_dec{
  display: flex;
  justify-content: center;
}
.cart_button_holder_inc_dec p{
  width: 40px;
  font-family: 'Gilroy-Bold';
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
@media  (max-width: 500px) {
  .cart_item {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    padding: 60px 20px;
  }
  .cart_item p{
    max-width: 370px;
    font-size: 0.85em;
    line-height: 1.2;
  }
  .cart_item h4{
    font-size: 1.5em;
  }
  .cart_button_holder_inc_dec{
    flex: 1
  }
  .cart_button_holder {
    margin-top: 20px;
    width: 100%;
    margin-right: auto;
  }
  .cart_img{
    height: auto;
    width: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}