.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  align-self: center;
}
.header .menu {
  justify-content: flex-end;
  display: flex;
}
.header .menu ul {
  list-style-type: none;
  margin: auto;
}
.header .menu .menu_item{
  display: inline-block;
  margin: auto 15px;
  color: white;

}