.holder-main{
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  /* background-image: url(./ColorGradient.png); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.invert .sum,
.invert .delivery_item_active{
  filter: invert(100%);
} 
.sum{
  position: relative;
  top: -36px;
  right: -26px;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 10px;
}
.column-left{
  flex-direction: column;
  display: flex;
  flex:1;
  align-items: flex-start;
  justify-content: center;
}
.column-left p{
  font-size: 18pt;
  font-family: 'Gilroy-Medium';
  color: rgba(255,255,255,0.7);
}
.column-right{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex:1
}
.main-text {
  font-size: 96px;
  line-height: 120px;
  text-transform: uppercase;
  font-family:   'Gilroy-Bold';
}
.brand_holder{
  margin: auto;
}
.cup_main{
  max-height: 900px;
  height: 100%;
}
.butn_holder{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -150px;
  left: 150px;
}
.brand_logo{
  margin: auto 10px;
  height: 36px;
  width: 36px;
}
.brand_logo.vk{
  margin-left: 35px;
  height: 32px;
}
.main-button {
  min-width: 326px;
  background-color: #0B39ff;
  padding: 20px 50px;
  border-radius: 14px;
  font-size: 22px;
  box-shadow: 0 0 120px #0B39ff;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .main-text {
    font-size: 60px;
    line-height: 86px;
  }
}
@media (max-width: 1024px) {
  .brand_logo.vk{
    margin-left: 0;
  }
  .invert .column-left h1,
  .invert .column-left p{
    filter: invert(100%);
    color: white;
    text-shadow: 1px 1px 12px rgba(0,0,0,0.3);
  }
  .main-text {
    font-size: 62px;
    line-height: 80px;
  }
  
  .cup_main{
    width: 70%;
  }
  .holder-main{
    flex-direction: column;
  }
  .holder-main{
    align-items: center;
    justify-content: center;
  min-height: 100%;
  background-color: black;
  padding-top: 90px;
} 
  .holder-main{
  flex-direction: column-reverse;
  padding-left: 0;
  padding-right: 0;
}
.column-left{
  position: relative;
  top: 220px;
  text-align: center;
  flex: 0 1,
}
.column-left{
  justify-content: center;
  text-align: center;
}
.column-left p{
  text-align: center;
  margin: 15px auto;
}
.column-left .main-text{
  margin: 10px auto;
}
.butn_holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -200px;
  left: 0;
}
.brand_holder{
  margin: 25px auto;
}
}
@media (max-width: 600px) {
  .holder-main{
  min-height: 100%;
  position: static;
  background-color: black;
  /* background-image: url(./ColorGradient.png); */
  padding-top: 90px;
}
  
  .main-text {
    font-size: 48px;
    line-height: 60px;
  }
  .holder-main{
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.column-left{
  position: relative;
  top: -520px;
  text-align: center;
  flex: 1,
}
.column-left p{
  text-align: center;
  margin: 15px auto;
}
.column-left .main-text{
  margin: 10px auto;
}
.butn_holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.brand_holder{
  margin: 25px auto;
}
.brand_logo.vk{
  margin-left: 10px;
}
.main-button{
  margin: 0 auto;
  font-size: 18px;
  min-width: 0;
}
.cup_main{
  height: auto;
  width: 100%;
}
}