.App {
  text-align: center;
}
.overalContainer{
  background-color: black;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.absolute_bg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-image: url(./Screens/ProductListScreen/BG.png);
  background-size: cover;
  background-color: black;
  z-index: 0;
}
*:focus{
  outline: none;
}
.category_container p{ 
  font-family: "San-Bold";
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.6);
  margin: 0 15px;
}
.category_container p.active{
  color: rgba(255,255,255,1);
}
.absolute_bg img{
  position: absolute;
  top: -40%;
  bottom: -40%;
  left: -40%;
  right: -40%;
  width: 200vw;
  height: 250vh!important;
  opacity: 1;
  animation: smokebg 10s infinite alternate;
}
.invert{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 200vw;
  height: 250vh!important; */
  filter: invert(100%);
  z-index: 9000;
}
.invert img{
  filter: invert(100%);
}
.invert .menu_item img,
.invert .logo,
.invert .contact_brand_logo,
.invert .brand_logo,
.invert .cart_img{
  filter: invert(0%);
}
.invert .absolute_bg img{
  display: none;
}
.invert .absolute_bg{
  background-image: none;
  background-color: black;
}

@keyframes smokebg {
  25% {
    transform: skew(10deg, 10deg) rotate(0deg)
  }
  50% {
    transform: skew(7deg, 20deg) rotate(10deg)
  }
  75% {
    transform: skew(5deg, 20deg) rotate(-10deg)
  }
  100% {
    transform: skew(2deg, 20deg) rotate(5deg)
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.product_item {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}
.slick-slide {
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_button_holder {
  margin-right: 40px;
  margin-left: auto;
}
.App-link {
  color: #61dafb;
}
.product_slider{
  overflow: hidden;
  height: calc(100vh);
}
.menu_holder{
  min-height: 100vh!important;
}
@media (max-width: 500px) {
  .product_text h3 {
    font-size: 4.5em!important;
  }
  .menu_holder .container{
    padding-top: 120px;
  }
  .product_item{
    flex-direction: column;
  }
  .product_item h3{
    margin-top: 0;
    font-size: 18px;
  }
  .holder h3 {
    margin-top: 10px;
    font-size: 14px;
  }
  .product_item p {
    font-size: 12px;
  }
  .product_item img{
    width: 140%;
  }
  .product_item {
    margin: 60px 0;
  }
  .product_button_holder{
    margin-left: auto;
    margin-right: 10px;
  }
  .product_button_holder button{
    min-width: 70px;
    font-size: 10px;
  }
  .price_holder{ 
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .empty_cart{
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    display: flex;
  }
}
@media (max-width: 1200px) {
  .header_center{
    flex-direction: column!important;
    margin-right: 0!important;
    margin-left: 0!important;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
