@font-face {
 font-family: "Gilroy-Bold";
 src: url("./fonts/Gilroy-Bold.ttf")
}
@font-face {
 font-family: "Gilroy-Light";
 src: url("./fonts/Gilroy-Light.ttf")
}
@font-face {
 font-family: "Gilroy-Medium";
 src: url("./fonts/Gilroy-Medium.ttf")
}
@font-face {
 font-family: "Gilroy-Medium-Italic";
 src: url("./fonts/Gilroy-MediumItalic.ttf")
}
@font-face {
 font-family: "Gilroy-Semibold";
 src: url("./fonts/Gilroy-SemiBold.ttf")
}
@font-face {
 font-family: "Gilroy-Semibold-Ttalic";
 src: url("./fonts/Gilroy-SemiBoldItalic.ttf")
}

body {
  margin: 0;
  font-family: 'Gilroy-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
