@font-face {
 font-family: "Gilroy-Bold";
 src: url("./fonts/Gilroy-Bold.ttf")
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Gilroy-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
